*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

h1{
  text-align:left;
}
.container{
  display:flex;
  gap: 5px;
  flex-wrap:wrap;
}
.book{
  padding: 10px;
  border: 2px solid black;

}

.book img{
  height: 300px;
}

.book h1{
  font: size 1.5rem;;
}

.book button{
  width: 200px;
  background-color: blue;
  color: whitesmoke;
  font-size: 1.25rem;
  padding: 5px;
}
.pen{
  padding: 10px;
  border: 2px solid black;

}
.pen img{
  height: 300px;
}
.pen h1{
  font: size 1.5rem;;
}
.pen button{
  width: 200px;
  background-color: blue;
  color: whitesmoke;
  font-size: 1.25rem;
  padding: 5px; 
}
.fruit-list {
  padding-left: 20px;
}